<div class="container">
    <h2>Configurações de Usuário</h2>
    <form #form="ngForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" class="form-control" ngModel>
        </div>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="emailsPromocionais" name="emailsPromocionais" ngModel>
            <label class="form-check-label" for="emailsPromocionais">
                Emails Promocionais?
            </label>
        </div>

        <p>Tema do Usuário</p>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="temaUsuario" id="interfaceClara" value="claro"
                    checked ngModel>
                <label class="form-check-label" for="claro">
                    Claro
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="temaUsuario" id="interfaceMedia" value="medio" ngModel>
                <label class="form-check-label" for="medio">
                    Médio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="temaUsuario" id="interfaceEscura" value="escuro" ngmodel>
                <label class="form-check-label" for="escuro">
                    Escuro
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="tipoInscricao">Tipo de Inscrição</label>
            <select class="form-control" id="tipoInscricao" name="tipoInscricao"  ngModel>
                <option>Mensal</option>
                <option>Anual</option>
                <option>Vitalício</option>
            </select>
        </div>

        <div class="form-group">
            <label for="observacoes">Observações</label>
            <textarea id="observacoes" name="observacoes" class="form-control" rows="3" ngModel></textarea>
        </div>

        <button class="btn btn-primary">Enviar</button>
    </form>
</div>

<h3>
    {{ form.value | json }}
</h3>