<div class="container">
    <h2>Configurações de Usuário</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" class="form-control" [(ngModel)]="configuracoesUsuario.nome" required
                #campoNome="ngModel" (blur)="onBlur(campoNome)">
            <div [hidden]="!form.submitted || campoNome.valid" class="alert alert-danger">
                Insira um nome
            </div>
        </div>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="emailsPromocionais" name="emailsPromocionais"
                [(ngModel)]="configuracoesUsuario.ofertaEmail">
            <label class="form-check-label" for="emailsPromocionais">
                Emails Promocionais?
            </label>
        </div>

        <p>Tema do Usuário</p>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="temaUsuario" id="interfaceClara" value="claro"
                    [(ngModel)]="configuracoesUsuario.tema">
                <label class="form-check-label" for="claro">
                    Claro
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="temaUsuario" id="interfaceMedia" value="medio"
                    [(ngModel)]="configuracoesUsuario.tema">
                <label class="form-check-label" for="medio">
                    Médio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="temaUsuario" id="interfaceEscura" value="escuro"
                    [(ngModel)]="configuracoesUsuario.tema">
                <label class="form-check-label" for="escuro">
                    Escuro
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="tipoInscricao">Tipo de Inscrição</label>
            <select class="form-control" id="tipoInscricao" name="tipoInscricao"
                [(ngModel)]="configuracoesUsuario.tipoAssinatura">
                <option>Mensal</option>
                <option>Anual</option>
                <option>Vitalício</option>
            </select>
        </div>

        <div class="form-group">
            <label for="observacoes">Observações</label>
            <textarea id="observacoes" name="observacoes" class="form-control" rows="3"
                [(ngModel)]="configuracoesUsuario.observacoes"></textarea>
        </div>

        <button class="btn btn-primary">Enviar</button>
    </form>
</div>